body {
    margin: 0;
    padding: 0;
    background-color: #FBF6EE;
}

.info {
    color: black;
    border-radius: 20px;
    font-family: 'ABeeZee', sans-serif;
}

/* Navbar */
.menuInicial {
    font-family: 'Bree Serif', serif;
    padding-top: 10px;
    background-color: #FFB534 !important;
}

.menuInicial div a {
    font-size: 40px;
}

.menuSecundario, .btn-inicio a {
    font-family: 'ABeeZee', sans-serif;
    padding: 20px;
}

.menuSecundario form button {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
}

.menuSecundario form button a, .btn-inicio a{
    text-decoration: none;
    color: black;
}

/* cards ingredientes*/

.card {
    background-color: #FBF6EE;
    border-style: none;
    font-family: 'ABeeZee', sans-serif;
    font-size: small;
}

.card img {
    border-radius: 20px;
}

.card .btn, .btn-inicio {
    background-color: #FFB534;
    color: black;
    border-color: #FFB534;
    border-radius: 20px;

}

.card .btn:active {
    background-color: #e6a22d;
    color: #FBF6EE;
    border-color: #e6a22d;
    border-radius: 20px;

}

.form-label,
.form-select {
    font-family: 'ABeeZee', sans-serif;
}

/* resto del main */

.pasosPizzeria img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Bree Serif', serif;
    background: #FFB534;
    border-radius: 20px;
    font-size: 32px;
    padding: 12px;
}

.ingredientes {
    padding-top: 70px;
}

#acercaDeNosotros {
    padding-top: 100px;
    padding-bottom: 100px;
}

#acercaDeNosotros .row .col img {
    width: auto;
    height: 300px;
}

#acercaDeNosotros .row .col p {
    font-family: 'ABeeZee', sans-serif;
    font-size: medium;
    padding-top: 40px;

}

footer {
    padding: 40px;
    margin: 40px;
    color: black;
    display: flex;
    justify-content: center;
    background-color: #FFB534;
    border-radius: 20px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer .parrafo p {
    font-family: 'ABeeZee', sans-serif;
    font-size: small;
}

.form-label {
    display: flex;
    justify-content: center;
    color: black;
    padding: 15px;
}